<%= render 'tabnav' %>
<div class="section">
	<div class="wrapper"><h2>Navigation</h2></div>
	<%= render 'dashboard/navigation/default' %>
	<%= render 'dashboard/navigation/tabbar' %>
	<%= render 'dashboard/navigation/dropdown' %>
	<%= render 'dashboard/navigation/toggle' %>
	<%= render 'dashboard/navigation/breadcrumb' %>
	<%= render 'dashboard/navigation/numberedSteps' %>
	<%= render 'dashboard/navigation/taskSteps' %>
</div>

