<%= render 'tabnav' %>
<div class="wrapper section">
	<%= render 'dashboard/tables/tablelisting' %>
	<%= render 'dashboard/tables/nestedtable' %>
	<%= render 'dashboard/tables/data' %>
	<%= render 'dashboard/tables/singlecolumn' %>	
</div>

