<%= render 'tabnav' %>
<div class="wrapper section">
	<h2>Quilt Widgets</h2>
	<div class="grid-block section">
		<div class="col_12 section">
			<h3>Using Quilt Widgets</h3>
			Quilt widgets is the default ui framework for Janrain widgets.
			<div class="grid-block">
				<div class="col_6 section">
					<div class="contentBoxWhiteShadow">
						<h5>Widgets Stylesheet v<%= Quilt::VERSION %></h5>
						<h4>http://cdn.quilt.janrain.com<%= asset_path 'widgets.css'; %></h4>
						<h5>SSL</h5>
						https://d3hmp0045zy3cs.cloudfront.net<%= asset_path 'widgets.css'; %>
						<h5>IE</h5>
						https://d3hmp0045zy3cs.cloudfront.net<%= asset_path 'widgets-ie.css'; %>
					</div>
				</div>
				<div class="col_6 section">
					<div class="contentBoxWhiteShadow">
						<h5>Widgets Javascript v<%= Quilt::VERSION %></h5>
						<h4>http://cdn.quilt.janrain.com<%= asset_path 'widgets.js'; %></h4>
						<h5>SSL</h5>
						https://d3hmp0045zy3cs.cloudfront.net<%= asset_path 'widgets.js'; %>
					</div>
					<h5></h5>
				</div>
			</div>
		</div>
	</div>
</div>


